h1 {
    color: orange;
}

a:hover { color: blue; }
a:active { color: red; }
a:visited { color: lavender; }

body {
    background: orange;
}

div#wrapper{
    margin:auto;
    background:white;
    width:800px;
    height:2000px;

}
